<div class="panel panel-primary">
    <div class="panel-heading">{{pageTitle}}</div>
    <!-- Filter the Tools   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                 *ngIf='tools && tools.length'               
            >
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Item</th>
                        <th>Location</th>
                        <th>Qty</th>
                        <th>Size</th>
                        <th>Part of Set</th>  
                        <th>Date Bought</th>    
                        <th>Comment</th>                                                   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let tool of tools  | toolItemFilter: listFilter'>  
                        <td>{{ tool.id }} </td>
                        <td>{{ tool.item }} </td>
                        <td>{{ tool.location }}  </td>                      
                        <td>{{ tool.qty }} </td>
                        <td>{{ tool.size }} </td>
                        <td> {{ (tool.partOfSet) }} </td>
                        <td>{{ tool.dateBought }}  </td>  
                        <td>{{ tool.comment }}  </td>                                                                                                            
                    </tr>
                </tbody>
            </table>

    </div>
</div>